body {
  .v-btn {
    border-radius: 10px;

    &--size-default {
      font-size: 16px;
      min-height: 44px;
    }

    &.v-theme--light:not(.v-btn--flat) {
      background: #f2f2f2;
    }

    &__overlay {
      display: none;
    }

    @media(max-width: 360px) {
      font-size: 11px !important;
    }
  }
}