.v-field {
  font-size: 16px !important;
  margin-top: -1px;
  border-radius: 10px !important;

  @media(min-width: 600px) {
    font-size: 19px !important;
  }

  // reset style to allow <FormField> on top of many v-text-field
  &:hover .v-field__outline {
    --v-field-border-opacity: 0.38 !important;
  }

  // restore border on v-text-field
  &:hover > .v-field__outline {
    --v-field-border-opacity: var(--v-field-border-opacity) !important;
  }

  &--variant-solo {
    input {
      font-size: 14px;

      @media(min-width: 600px) {
        font-size: 16px;
      }
    }
  }

  &--variant-plain {
    input {
      padding-top: 12px;
      padding-bottom: 8px;
    }
  }

  &--variant-outlined {
    input {
      font-size: 14px;

      @media(min-width: 600px) {
        font-size: 16px;
      }
    }
  }
}