html[data-theme-variant="dx"] {
  $gsky-theme-border-radius: 24px;

  .v-theme--dark {
    --v-border-opacity: 0.09;
  }

  // post

  .gsky-post {
    &__header {
      //padding-top: 12px !important;
      padding-bottom: 4px !important;
    }

    &__actions {
      padding-top: 4px !important;
    }

    &--vertical {
      .gsky-post__body {
        @media(max-width: 959px) {
          padding: 0 12px;
        }
      }

      .gsky-media {
        @media(min-width: 960px) {
          border-radius: $gsky-theme-border-radius;
          overflow: hidden;
        }
      }

      .gsky-post__body {
        @media(min-width: 960px) {
          border: 0;
          border-radius: 4px;
        }
      }
    }

    &-dialog__layout--desktop {
      border-radius: $gsky-theme-border-radius !important;

      .gsky-media {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  // media

  .gsky-media {
    border-radius: $gsky-theme-border-radius;
    overflow: hidden;
  }

  // feed

  .gsky-feed {
    &-grid {
      margin: 8px;

      .v-row {
        .v-col {
          padding: 4px !important;
        }
      }

      @media(min-width: 960px) {
        margin: 12px 0 0 0;

        .v-row {
          margin-left: -12px !important;
          margin-right: -12px !important;

          .v-col {
            padding: 12px !important;
          }
        }
      }
    }

    &-timeline {
      .gsky-post {
        margin-bottom: 32px;
      }

      &__divider {
        display: none;
      }
    }
  }

  // profile

  .gsky-profile__header--desktop {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
  }

  // ui

  .v-dialog {
    .v-overlay__content > .v-card {
      border-radius: var($gsky-theme-border-radius) !important;
    }
  }

  .v-overlay {
    .v-overlay__scrim {
      backdrop-filter: blur(32px);
    }
  }
}